*{
 margin: 0;
 font-family: Arial;
 border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width:100px;
}
.logo{
  background-image: url("amlogo.png");
  background-size: cover;
  height: 50px;
  width:100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add_first{
    color:#cccccc ;
    font-size: 12px;
    margin-left: 19px;
}
.add_sec{
  color: #ffffff;
  font-size: 14px;
  margin-left: 1px;
}
.add_icon{
    display: flex;
    align-items: center;
}
.nav_search{
    display: flex;
    height: 40px;
    width: 800px;
    border-radius: 4px;
    background-color: #febd68;
    justify-content: space-evenly;
}
.nav_search:hover{
    border:2px solid orange;
}
.search_select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search_input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width:45px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
.navse{
    background-color: transparent;
    border: transparent;
    color: #f3f3f3;
}
span{
    font-size: 0.7rem;
    color:#cccccc;
}
.nav_second{
   color: #ffffff;
   font-size: 0.85rem;
   font-weight: 700;
}
.nav_cart i{
    font-size: 30px;
    color:#cccccc;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
    color: #ffffff;
}
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color:white;
    justify-content:space-evenly;
    align-items: center;
}
.panel_ops p{
    display: inline; 
    margin-left: 15px;
}
.panel_ops p:hover{
    border: 1.5px solid transparent;
}
.panel_ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel_deals{
    font-size: 0.85rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero1.jpg");
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.hero_msg{
    background-color: white;
    display:flex;
    color: black;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.85rem;
    width: 98%;
    margin-bottom: 30px;
}
.hero_msg a{
    color: #007185;
}
.shop_section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #ee4520
}
.box{
    
    height: 400px;
    width:24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.container{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap:2rem;
  padding: 0px 0px 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  column-gap: 2px;
  row-gap: 50px;
}
.container img{
    width: 150px;
    height:117px;
    margin-left: 0.2rem;
    gap:2rem;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box h2{
    font-weight: 700;
}
.box p{
    color:#007185;;
    
}
.foot-panel1{
   background-color: #37475a;
   color:white;
   height: 50px;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
}
.foot-panel2{
   background-color: #222f3d;
   color: white;
   height: 300px;
   display:flex;
   justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;

}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.logo{
    background-image: url("amlogo.png");
    background-size: cover;
    height: 50px;
    width:100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
}
.foot-panel2{
   background-color: #222f3d;
   color: white;
   height: 300px;
   display:flex;
   justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;

}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.foot-panel4{
    background-color: #131a22;
    height: 120px;
    color: #dddddd;
    display: flex;
    width:fit-content;
    flex-wrap: wrap;
    gap:12px;
    padding: 12px;
    width: 100%;
    justify-content:center;
    font-size: 12px;
}   
.foot-panel5{
    height: 150px;
}
.foot-panel6{
    background-color: #0f1111;
    color: white;
    height:80px;
    text-align: center;
}

.pages{
    padding-top:25px;
}
.copyright{
    padding-top: 5px;
}
